﻿@using TestMVC.Models;
@{
    ViewData["Title"] = "Все записи";
}
@model List<Site>

<div>

    @if (TempData["success"] != null)
    {
        <h3 style="color: green">@TempData["success"]</h3>
    }

    @if (TempData["error"] != null)
    {
        <h3 style="color: red">@TempData["error"]</h3>
    }

    <table class="table">
        <thead>
            <tr>
                <td scope="col">SiteId</td>
                <td scope="col">SiteName</td>
                <td scope="col">SiteUrl</td>
                <td scope="col">IsSecure</td>
                <td scope="col">Action</td>
                <td scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="@item.Url">@item.Name</a>
                </td>
                <td>
                    @item.IsSecure
                </td>
                <td>
                    <a href="Edit/@item.Id" class="btn btn-outline-info">Изменить</a>
                </td>
                <td>
                    <a href="Delete/@item.Id" class="btn btn-outline-danger">Удалить</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
