﻿@using TestMVC.Models.VM

@{
    ViewData["Title"] = "Создать запись";
}

<form action="Create" method="post">
    <label class="form-label">Название сайта</label>
    <input type="text" name="Name" class="form-control" />

    <label>Url сайта</label>
    <input type="text" name="Url" class="form-control" />

    <label>Сайт не безопасный?</label>
    <input type="checkbox" name="IsSecure" />

    <button type="submit" class="btn btn-outline-success">Сохранить</button>
</form>

