﻿@using TestMVC.Models.VM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SiteEditModel
<form action="Create" method="post">

    <input type="hidden" name="Id" value="@Model.Id" />
    <label>Название сайта</label>
    <input type="text" name="Name" value="@Model.Name" />

    <label>Url сайта</label>
    <input type="text" name="Url" value="@Model.Url" />

    <label>Сайт не безопасный?</label>
    @Html.CheckBoxFor(x => x.IsSecure)

    <button type="submit">Сохранить</button>
</form>
